# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# list of files with errors
addon/adapters/odata.js
addon/adapters/offline.js
addon/mixins/adapter.js
addon/mixins/audit-model.js
addon/mixins/copyable.js
addon/mixins/offline-model.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-field.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-object-type.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-agent.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-link-group.js
addon/mixins/regenerated/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-session.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-field.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-object-type.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-agent.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-link-group.js
addon/mixins/regenerated/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-session.js
addon/mixins/store.js
addon/models/model-without-validation.js
addon/models/model.js
addon/models/offline-model.js
addon/query/builder.js
addon/query/indexeddb-adapter.js
addon/query/js-adapter.js
addon/query/odata-adapter.js
addon/query/predicate.js
addon/serializers/base.js
addon/serializers/odata.js
addon/serializers/offline.js
addon/services/dexie.js
addon/services/offline-globals.js
addon/services/syncer.js
addon/services/user.js
addon/stores/base-store.js
addon/stores/base-store/decorate-adapter.js
addon/stores/base-store/decorate-api-call.js
addon/stores/local-store.js
addon/stores/online-store.js
addon/transforms/file.js
addon/transforms/flexberry-enum.js
addon/utils/batch-queries.js
addon/utils/information.js
addon/utils/is-async.js
addon/utils/is-embedded.js
addon/utils/is-model-instance.js
addon/utils/model-functions.js
addon/utils/queue.js
addon/utils/reload-local-records.js
addon/utils/string-functions.js
app/browserify.js
blueprints/ember-flexberry-data/index.js
config/release.js
ember-cli-build.js
mini-formatter.js
tests/dummy/app/controllers/suggestion.js
tests/dummy/app/models/ember-flexberry-dummy-application-user.js
tests/dummy/app/models/ember-flexberry-dummy-comment-vote.js
tests/dummy/app/models/ember-flexberry-dummy-comment.js
tests/dummy/app/models/ember-flexberry-dummy-localization.js
tests/dummy/app/models/ember-flexberry-dummy-localized-suggestion-type.js
tests/dummy/app/models/ember-flexberry-dummy-suggestion-file.js
tests/dummy/app/models/ember-flexberry-dummy-suggestion-type.js
tests/dummy/app/models/ember-flexberry-dummy-suggestion.js
tests/dummy/app/models/ember-flexberry-dummy-test-poly.js
tests/dummy/app/models/ember-flexberry-dummy-vote.js
tests/dummy/app/models/validations/base.js
tests/dummy/app/models/validations/detail.js
tests/dummy/app/services/store.js
tests/dummy/config/environment.js
tests/helpers/clear-data.js
tests/integration/display-deep-model-test.js
tests/integration/adapters/odata-test.js
tests/integration/services/store-test.js
tests/integration/services/syncer-test.js
tests/integration/transforms/decimal-test.js
tests/unit/CRUD/base/association-batch-updating-test.js
tests/unit/CRUD/base/base-batch-updating-test.js
tests/unit/CRUD/base/base-creating-test.js
tests/unit/CRUD/base/base-deleting-test.js
tests/unit/CRUD/base/base-deleting-with-details-test.js
tests/unit/CRUD/base/base-reading-builder-test.js
tests/unit/CRUD/base/base-reading-comparsion-with-null-test.js
tests/unit/CRUD/base/base-reading-complex-predicates-test.js
tests/unit/CRUD/base/base-reading-data-types-test.js
tests/unit/CRUD/base/base-reading-date-predicates-test.js
tests/unit/CRUD/base/base-reading-date-predicates-timeless-test.js
tests/unit/CRUD/base/base-reading-false-predicates-test.js
tests/unit/CRUD/base/base-reading-polymorphic-test.js
tests/unit/CRUD/base/base-reading-restrictions-on-fields-test.js
tests/unit/CRUD/base/base-reading-restrictions-with-odata-func-test.js
tests/unit/CRUD/base/base-reading-simple-predicates-test.js
tests/unit/CRUD/base/base-reading-simple-predicates-with-first-level-masters-test.js
tests/unit/CRUD/base/base-reading-simple-predicates-with-masters-test.js
tests/unit/CRUD/base/base-reading-store-commands-test.js
tests/unit/CRUD/base/base-reading-string-predicates-test.js
tests/unit/CRUD/base/base-reading-true-predicates-test.js
tests/unit/CRUD/base/base-updating-test.js
tests/unit/CRUD/odata/execute-odata-test.js
tests/unit/CRUD/odata/odata-association-batch-updating-test.js
tests/unit/CRUD/odata/odata-batch-updating-test.js
tests/unit/CRUD/odata/odata-creating-test.js
tests/unit/CRUD/odata/odata-deleting-test.js
tests/unit/CRUD/odata/odata-deleting-with-details-test.js
tests/unit/CRUD/odata/odata-reading-builder-test.js
tests/unit/CRUD/odata/odata-reading-comparsion-with-null-test.js
tests/unit/CRUD/odata/odata-reading-complex-predicates-test.js
tests/unit/CRUD/odata/odata-reading-data-types-test.js
tests/unit/CRUD/odata/odata-reading-date-predicates-test.js
tests/unit/CRUD/odata/odata-reading-date-predicates-timeless-test.js
tests/unit/CRUD/odata/odata-reading-false-predicates-test.js
tests/unit/CRUD/odata/odata-reading-polymorphic-test.js
tests/unit/CRUD/odata/odata-reading-restrictions-on-fields-test.js
tests/unit/CRUD/odata/odata-reading-restrictions-with-odata-func-test.js
tests/unit/CRUD/odata/odata-reading-simple-predicates-test.js
tests/unit/CRUD/odata/odata-reading-simple-predicates-with-first-level-masters-test.js
tests/unit/CRUD/odata/odata-reading-simple-predicates-with-masters-test.js
tests/unit/CRUD/odata/odata-reading-store-commands-test.js
tests/unit/CRUD/odata/odata-reading-string-predicates-test.js
tests/unit/CRUD/odata/odata-reading-true-predicates-test.js
tests/unit/CRUD/odata/odata-updating-test.js
tests/unit/CRUD/offline/execute-offline-test.js
tests/unit/CRUD/offline/offline-association-batch-updating-test.js
tests/unit/CRUD/offline/offline-batch-updating-test.js
tests/unit/CRUD/offline/offline-creating-test.js
tests/unit/CRUD/offline/offline-deleting-test.js
tests/unit/CRUD/offline/offline-deleting-with-details-test.js
tests/unit/CRUD/offline/offline-reading-builder-test.js
tests/unit/CRUD/offline/offline-reading-comparsion-with-null-test.js
tests/unit/CRUD/offline/offline-reading-complex-predicates-test.js
tests/unit/CRUD/offline/offline-reading-date-predicates-test.js
tests/unit/CRUD/offline/offline-reading-date-predicates-timeless-test.js
tests/unit/CRUD/offline/offline-reading-data-types-test.js
tests/unit/CRUD/offline/offline-reading-false-predicates-test.js
tests/unit/CRUD/offline/offline-reading-polymorphic-test.js
tests/unit/CRUD/offline/offline-reading-restrictions-on-fields-test.js
tests/unit/CRUD/offline/offline-reading-simple-predicates-test.js
tests/unit/CRUD/offline/offline-reading-simple-predicates-with-first-level-masters-test.js
tests/unit/CRUD/offline/offline-reading-simple-predicates-with-masters-test.js
tests/unit/CRUD/offline/offline-reading-store-commands-test.js
tests/unit/CRUD/offline/offline-reading-string-predicates-test.js
tests/unit/CRUD/offline/offline-reading-true-predicates-test.js
tests/unit/CRUD/offline/offline-updating-test.js
tests/unit/adapters/odata-test.js
tests/unit/adapters/offline-test.js
tests/unit/mixins/adapter-test.js
tests/unit/mixins/audit-model-test.js
tests/unit/mixins/offline-model-test.js
tests/unit/mixins/store-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-field-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-object-type-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-agent-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-link-group-test.js
tests/unit/models/i-c-s-soft-s-t-o-r-m-n-e-t-security-session-test.js
tests/unit/models/model-test.js
tests/unit/models/model-without-validation-test.js
tests/unit/models/offline-model-test.js
tests/unit/models/validations-test.js
tests/unit/odata/odata-ajax-requests-test.js
tests/unit/odata/odata-reading-decimal-test.js
tests/unit/odata/odata-void-request-test.js
tests/unit/offline/offline-CRUD-test.js
tests/unit/query/builder-test.js
tests/unit/query/indexeddb-adapter-test.js
tests/unit/serializers/base-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-offline-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-entity-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-field-offline-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-audit-field-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-object-type-offline-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-business-audit-objects-object-type-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-agent-offline-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-agent-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-link-group-test.js
tests/unit/serializers/i-c-s-soft-s-t-o-r-m-n-e-t-security-session-test.js
tests/unit/serializers/odata-test.js
tests/unit/serializers/offline-test.js
tests/unit/services/dexie-test.js
tests/unit/services/offline-globals-test.js
tests/unit/services/syncer-test.js
tests/unit/services/user-test.js
tests/unit/transforms/decimal-test.js
tests/unit/transforms/flexberry-enum-test.js
tests/unit/utils/get-serialized-date-value-test.js
tests/unit/utils/is-embedded-test.js
tests/unit/utils/is-model-instance-test.js
