name: Node.js CI

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:

    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install linux packages
      run: sudo apt-get install docker-compose curl

    - name: Init NodeJS env
      run: |
       set -x
       node -v
       npm install -g bower
       npm install -g ember-cli@2.4.3
       npm install
       bower install

    - name: StartUp docker services
      run: |
        docker pull flexberry/ember-flexberry-stand-backend:latest
        docker pull flexberry/ember-flexberry-stand-postgres:latest
        curl  -o docker-compose.yml -O https://raw.githubusercontent.com/Flexberry/FlexberryEmberTestStand.ODataBackend/master/Docker/ember-flexberry-stand-postgres.yml
        docker-compose up -d

    - name: Run Google Chrome
      run: |
        sudo chown root /opt/google/chrome/chrome-sandbox
        sudo sudo chmod 4755 /opt/google/chrome/chrome-sandbox
        google-chrome-stable --headless --disable-gpu --no-sandbox --remote-debugging-port=9222 http://localhost &

    - name: Run linters
      id: linting
      run: npm run lint

    - name: Run addon tests
      if: ${{ success() || steps.linting.conclusion == 'failure' }}
      run: |
        set -x
        ember try default test

    - name: Shutdown docker services
      run: |
        docker-compose down

